<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxgrind.chameleon"
    platformBuildVersionCode="29"
    platformBuildVersionName="10"
    android:versionCode="105"
    android:versionName="2020-06-03_1803"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    >
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29"
        >
    </uses-sdk>
    <uses-permission
        android:name="android.permission.NFC"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.VIBRATE"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        >
    </uses-permission>
    <uses-permission-sdk-23
        android:name="android.permission.ACCESS_FINE_LOCATION"
        >
    </uses-permission-sdk-23>
    <application
        android:theme="@7F110008"
        android:label="@7F10001F"
        android:icon="@7F080076"
        android:name="com.stub.StubApp"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:roundIcon="@7F080076"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        >
        <service
            android:name="com.proxgrind.chameleon.services.RestartService"
            android:enabled="true"
            android:process=":restart"
            >
        </service>
        <service
            android:name="com.proxgrind.chameleon.services.DfuService"
            >
            <intent-filter
                >
                <action
                    android:name="no.nordicsemi.android.action.DFU_UPLOAD"
                    >
                </action>
                <category
                    android:name="android.intent.category.DEFAULT"
                    >
                </category>
            </intent-filter>
        </service>
        <service
            android:name="com.proxgrind.chameleon.services.BondService"
            android:exported="false"
            >
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.proxgrind.chameleon.fileprovider"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@7F130001"
                >
            </meta-data>
        </provider>
        <activity
            android:name="com.proxgrind.chameleon.activities.LoginActivity"
            >
            <intent-filter
                >
                <action
                    android:name="android.intent.action.MAIN"
                    >
                </action>
                <category
                    android:name="android.intent.category.LAUNCHER"
                    >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.DevicesFastActivity"
            android:screenOrientation="5"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.TestMainActivity"
            android:screenOrientation="5"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.SlotMainActivity"
            android:launchMode="1"
            android:screenOrientation="5"
            android:windowSoftInputMode="0x00000020"
            >
            <intent-filter
                >
                <action
                    android:name="android.intent.action.VIEW"
                    >
                </action>
                <category
                    android:name="android.intent.category.DEFAULT"
                    >
                </category>
                <category
                    android:name="android.intent.category.BROWSABLE"
                    >
                </category>
                <data
                    android:host="*"
                    >
                </data>
                <data
                    android:scheme="file"
                    >
                </data>
                <data
                    android:scheme="content"
                    >
                </data>
                <data
                    android:mimeType="text/*"
                    >
                </data>
                <data
                    android:mimeType="application/dump"
                    >
                </data>
                <data
                    android:mimeType="application/bin"
                    >
                </data>
                <data
                    android:mimeType="application/hex"
                    >
                </data>
                <data
                    android:mimeType="application/eml"
                    >
                </data>
                <data
                    android:mimeType="application/mfd"
                    >
                </data>
                <data
                    android:mimeType="application/mtd"
                    >
                </data>
                <data
                    android:mimeType="application/json"
                    >
                </data>
                <data
                    android:mimeType="application/json"
                    >
                </data>
                <data
                    android:mimeType="application/dump"
                    >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.CrashActivity"
            android:screenOrientation="5"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.NotificationBLEDFUActivity"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.BleDfuMainActivity"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.DumpActivity"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.GeneralNfcDeviceActivity"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.FileSelectorActivity"
            >
        </activity>
        <activity
            android:name="com.proxgrind.chameleon.activities.DeviceRemarksActivity"
            >
        </activity>
    </application>
</manifest>